*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width: 90vw;
    height: 90vh;
    margin: 8px auto;
    animation: abertura 3s ease;
}

@keyframes abertura {
    0%{
        opacity: 0;
        width: 0;
        height: 0;
        margin-top: 25%;
    }100%{
        opacity: 1;
    }
}

.container p{
    position: absolute;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 40px;
}
.container p:nth-child(1){
    top: 16px;
    right: 16px;
}
